@model Student

<h1>Öğrenci Sil</h1>
<div>
    <hr />
    <h4>Öğrenciyi silmek istediğinize emin misiniz?</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="POST">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index">Geri</a>
    </form>
</div>