@model IEnumerable<_20_entityframeworkexample.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class= "btn btn-primary m-2" id ="addStudentWithTransaction"> Transaction ile öğrenci ekleme</button>
    <a class="btn btn-primary m-2" asp-action="RawSql">Raw Sql</a>
    <a class="btn btn-primary m-2" asp-action="BulkInsert">Bulk insert</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Department)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@student.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@student.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@student.Id">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type ="text/javascript">
        $(document).ready(function(){
            $("#addStudentWithTransaction").click(function(){
                var students=[
                    { Name: "Ali Veli", Age: 20, Department: "Bilgisayar Mühendisliği" },
                    { Name: "Ayşe Fatma", Age: 22, Department: "Elektrik-Elektronik Mühendisliği" },
                    { Name: "Mehmet Can", Age: 21, Department: "Makine Mühendisliği" }
                ]
                $.ajax({
                    url: '@Url.Action("AddStudentsWithTransaction", "Home")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(students),
                    success: function (response) {
                        alert("Öğrenciler Başarıyla eklendi");
                        location.reload();
                    },
                    error: function(error){
                        console.log(error);
                        alert(error.responseText);
                    }
                })
            });
        });
    </script>
}