@model IEnumerable<_20_entityframeworkexample.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Query Syntax ile 18 yaşından büyük öğrenciler</h3>
</div>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Department)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@student.Id">Detaylar</a>
                    <a asp-action="Delete" asp-route-id="@student.Id">Sil</a>
                </td>
            </tr>
        }


    </tbody>

</table>
